/*============================================ wrapper===================================================== */

#wrapper {
    width: 1300px;   
    margin: 20px auto;
    position: relative;
}

/*============================================ wrapper===================================================== */

/*============================================ menu ======================================================= */

#nav {
    position: relative;
}

#menu {
    display: flex;
    justify-content: space-between;
}

#menu > a {
    text-decoration: none;
}

#menu > a > li {
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
}

a {
    color: black;
}

a:hover {
    color:red;
}

.active {
    color: blue;
}

ul {
    padding-left: 0;
}

#language_switch {
    width: 105px;
    height: 40px;
    font-size: 25px;

    position: absolute;
    top: 70px;
    left: 0;

}

/*============================================ menu ======================================================= */

/*============================================ word_section_2 =============================================== */

#word_section_1 {
    height: 500px;
    border: 1px solid black;
    margin-top: 90px;

    display: none;
    position: relative;
}

#word_section_2 {
    height: 500px;
    border: 1px solid black;
    margin-top: 90px;

    position: relative;
}

#select_wrapper { 
    width: 160px;
    height: 140px;

    margin: 60px auto 0;
}

#select_wrapper p { 
    font-size: 20px;
    margin-bottom: 15px;
}

.select {
    width: 160px;
    height: 40px;
    font-size: 30px;
}

#word_section_select_a_list {
    text-align: center;
    font-size: 60px;
    margin: 20px auto;
}

#word_section_click_on_start {
    text-align: center;
    font-size: 60px;
    margin-top: 120px;
}

#word_section_click_on_start_new_words {
    text-align: center;
    font-size: 60px;
    margin-top: 140px;
}

#word_section_number_of_words {
    font-size: 30px;
    font-family: 'Times New Roman';

    position: absolute;
    top: -20px;
    right: 10px;

    display: none;
}

#word_section_main {
    font-size: 100px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 0;

    font-family: 'Times New Roman';

    white-space: pre-wrap;
}

#word_section_main1 {
    font-size: 100px;
    text-align: center;
    margin-top: -10px;
    
    font-family: 'Times New Roman';

    white-space: pre-wrap;
}

#word_section_translation_1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman';

    display: none;
}

#word_section_translation_2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman';

    display: none;
}

#word_section_translation_3 {
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman';

    display: none;
}

#word_section_additional_information {
    font-size: 30px;
    font-family: 'Times New Roman';

    display: none;

    position: absolute;

    right: 10px; 
    bottom: -20px;
}

#word_section_additional_information1 {
    font-size: 30px;
    font-family: 'Times New Roman';

    display: none;

    position: absolute;

    right: 10px; 
    bottom: -20px;

    white-space: pre-wrap;
}

#word_section_how_to_read {
    font-size: 30px;
    font-family: 'Times New Roman';

    display: none;

    position: absolute;

    left: 10px; 
    bottom: -20px;

    white-space: pre-wrap;
}

#word_section_how_to_read1 {
    font-size: 30px;
    font-family: 'Times New Roman';

    display: none;

    position: absolute;

    left: 10px; 
    bottom: -20px;

    white-space: pre-wrap;
}

#word_section_start_over {
    width: 250px;
    height: 50px;
    font-size: 35px;
    font-weight: bold;

    display: none;

    margin: 40px auto;
}

#button_start_over {
    width: 250px;
    height: 50px;

    margin-top: 10px;
}

#word_section_repeat_the_words {
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;

    display: none;

    margin: 40px auto;
}

#button_repeat_the_words {
    width: 250px;
    height: 50px;
}

/*============================================ word_section_2 =============================================== */

/*============================================ button_section ============================================= */

.checkbox {
    width: 20px;
    height: 20px;
    font-size: 30px;
}

.checkbox_text {
    font-size: 25px;
}

#button_section {
    position: relative;
}

#button_section_repeat_the_word {
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 10px;
    left: 270px;
}

#button_section_start {
    width: 355px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: block;

    position: absolute;
    top: 10px;
    left: 480px;
}

#button_section_the_next_word_1 {
    width: 170px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 10px;
    left: 480px;
}

#button_section_the_next_word_2 {
    width: 170px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 10px;
    left: 480px;
}

#button_section_translate_1 {
    width: 170px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 10px;
    left: 660px;
}

#button_section_translate_2 {
    width: 170px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 10px;
    left: 660px;
}


#button_section_additional_information_1 {
    width: 160px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 10px;
    right: 0;
}

#button_section_additional_information_2 {
    width: 160px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 10px;
    right: 0;
}

#button_section_number_of_words_1 {
    width: 70px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 70px;
    right: 0;
}

#button_section_number_of_words_2 {
    width: 70px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 70px;
    right: 0;
}

#button_section_change_mode_1 {
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: block;

    position: absolute;
    top: 70px;
    left: 130px;
}

#button_section_change_mode_2 {
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 70px;
    left: 130px;
}

#button_section_multiple_values_1 {
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 70px;
    left: 580px;
}

#button_section_multiple_values_2 {
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 70px;
    left: 580px;
}

#button_section_how_to_read_1 {
    width: 170px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 10px;
    left: 0;
}

#button_section_how_to_read_2 {
    width: 170px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    display: none;

    position: absolute;
    top: 10px;
    left: 0;
}

/*============================================ button_section ============================================= */

/*============================= check for the presence of a word ===========================================*/

.margin_left {
    margin-left: 10px;
}

#enter_the_word {
    font-size: 30px;

    margin: 20px 10px;
}

#display_flex {
    display: flex;
}

#div_1 p {
    font-size: 20px;
}

/*============================= check for the presence of a word ===========================================*/

/*============================= grammy =====================================================================*/

img {
    width: 1000px;
    height: 700px;
    margin-top: 50px;
}

/*============================= grammy =====================================================================*/































































